@model BookRat.Models.MembreViewModel

@{
    ViewData["Title"] = "Création de compte";
}
<div>
    <section id="content" class="s-content">
        <section class="s-pageheader pageheader">
            <div class="row">
                <div class="column xl-12">
                    <h1 class="page-title">
                        <span class="page-title__small-type text-pretitle">BookRat</span>
                        @ViewData["Title"]
                    </h1>
                </div>
            </div>
        </section> <!--pageheader -->
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-action="Index" asp-controller="Home">Accueil</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
        </div>

        <section class="s-pagecontent pagecontent">
            <div class="row pageintro">
                <div class="container column sm-12">
                    <form asp-action="AjouterMembre" class="py-3 w-full">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Nom" class="control-label"></label>
                            <input asp-for="Nom" class="form-control" />
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Prenom" class="control-label"></label>
                            <input asp-for="Prenom" class="form-control" />
                            <span asp-validation-for="Prenom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Courriel" class="control-label"></label>
                            <input asp-for="Courriel" class="form-control" />
                            <span asp-validation-for="Courriel" class="text-danger"></span>
                        </div>
                        <div>
                        <div class="form-group col">
                            <label asp-for="Sexe" class="control-label"></label>
                            <input asp-for="Sexe" class="form-control" />
                            <span asp-validation-for="Sexe" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MotDePasse" class="control-label">Mot de passe</label>
                            <input type="password" asp-for="MotDePasse" class="form-control" />
                            <span asp-validation-for="MotDePasse" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmationMotDePasse" class="control-label">Confirmer votre mot de passe</label>
                            <input type="password" asp-for="ConfirmationMotDePasse" class="form-control" />
                            <span asp-validation-for="ConfirmationMotDePasse" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Créez votre compte" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
